<ul class="list-group">
{{#each todos}}
  <a class="list-group-item" href="/todo/{{id}}">{{title}}</a>
{{/each}}
</ul>
<a type="submit" class="btn btn-default btn-primary" href="/todo/new">
  New Todo
</a>